 #titlerow{
                margin-top: 12px;
            }
            #unpublishbutton {
                //    left: -30px;
            }
            input {
                line-height: 2.3em; 
            }
            label {
                line-height: 2.3em; 
            }
            body {
                font-family: secondFont; 
                font-size: 14px;
                background-image: url('wall.jpg');
                background-color: black;
                color: black;
            }
            .container {
                background-color: white;
            }
            .profilepic {
                content:url("http://imgur.com/SZ8Cm.jpg");
                height: 45px;
                width: 45px;
            }

